@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.home_screen {
    background: #f6f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

.home_screen h1 {
    font-weight: bold;
    margin: 0;
}

.home_screen h2 {
    text-align: center;
}

.home_screen p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

.home_screen button {
    border-radius: 20px;
    border: 1px solid #240602;
    background-color: #240602;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
}

.home_screen button:active {
    transform: scale(0.95);
}

.home_screen button:focus {
    outline: none;
}

.home_screen button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}

.home_screen form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

.home_screen input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.home_screen #container {
    background-color: transparent;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 60%;
    max-height: 600px;
}

.home_screen .form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.home_screen .sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.home_screen #container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.home_screen .sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.home_screen #container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: homeShow 0.6s;
}

@keyframes homeShow {
    0%, 49.99% { opacity: 0; z-index: 1; }
    50%, 100% { opacity: 1; z-index: 5; }
}

.home_screen .overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.home_screen #container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.home_screen .overlay {
    background: linear-gradient(to right, #240602, #D49546);
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.home_screen #container.right-panel-active .overlay {
    transform: translateX(50%);
}

.home_screen .overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.home_screen .overlay-left {
    transform: translateX(-20%);
}

.home_screen #container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.home_screen .overlay-right {
    right: 0;
    transform: translateX(0);
}

.home_screen #container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

@media only screen and (max-width: 630px) {
    .home_screen .overlay-container {
        display: none;
    }
    .home_screen .sign-in-container {
        width: 100%;
        padding-left: 8em;
        padding-right: 8em;
    }
}
