.tile {
    display: grid;
    place-content: center;
    height: 70px;
    width: 70px;
}

.highlighted {
    border: 5px solid hsl(56, 100%, 50%);
}

.black-tile {
    background-color: #864b30;
}

.white-tile {
    background-color: #f5c689;
}

.black-tile .chess-piece,
.white-tile .chess-piece {
    height: 70px;
    width: 70px;
    background-size: 75px;
    background-repeat: no-repeat;
    background-position: center;
}

.chess-piece:hover {
    cursor: grab;
}

.chess-piece:active {
    cursor: grabbing;
}
