/**
 * Global Styles
 */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #000121;
}

#root {
    height: 100vh;
}

.container {
    display: grid;
    place-content: center;
    height: 100vh;
}

body {
    background-image: url(../assets/images/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
